/* CSS Document */
@charset 'utf-8';
/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext);
/* font icon */
@import url(../images/fontello/css/hypotekajezlo.css);
@import url(../images/fontello/css/hypotekajezlo-ie7.css);
/* css reset */
a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1,h2,h3,h4,h5,h6,hr,html,i,iframe,img,ins,kbd,keygen,label,legend,li,link,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
table,tr,th,td{vertical-align:top;}
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
address{font-style:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:'Source Sans Pro',sans-serif;font-size:100%;}
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
article,aside,canvas,figcaption,figure,footer,header{display:block;}
/* elements */
body{font-size:15px;line-height:1.4;font-family:'Source Sans Pro',sans-serif;color:#333;text-align:center;background:#c94300;}
a{color:#439213;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:28px;font-weight: normal;color:#c94300;}
h2{font-size:22px;font-weight: normal;color:#439213;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position: relative;padding:0 0 0 20px;margin:0;}
ul li:before,ul li .before{position: absolute;left:0;top:0;letter-spacing: -1px;content: '\e808\e808';font-family: 'hypotekajezlo';}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #c9c7c1;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{display: inline-block;margin: 0;padding: 0 20px 0 30px;border: 0;font-size: 14px;color: #fff;font-weight: bold;text-decoration: none;background: #d84800 url(../images/btn/04.png) no-repeat -30px center;height: 30px;line-height: 30px;white-space: nowrap;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
nav.more a:hover{background-color: #439213;background-position: -25px center;}
table.normal{margin:0 0 20px 0;width:100%;background:#fff;}
table.normal th,table.normal td{padding:6px 8px;border:1px dotted #ccc;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#f7f7f7;color:#000;}
table.normal th,table.normal thead td{font-weight:bold;color:#fff!important;background:#439213!important;}
table.normal th a,table.normal thead td a{color:#fff!important;}
table.normal tfoot td{background:#ffebae!important;}
table.normal tr:hover td,table.normal tr:hover th{-webkit-box-shadow: inset 0 0 60px rgba(0,0,0,0.1);-moz-box-shadow: inset 0 0 60px rgba(0,0,0,0.1);box-shadow: inset 0 0 60px rgba(0,0,0,0.1);}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #c9c7c1;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:4px 10px;color:#000;background:#fff;outline: none;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
form.normal input.input-mini,form.normal select.input-mini{width:25px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small,form.normal select.input-small{width:125px;}
form.normal input.input-large,form.normal select.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:4px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{border-color:#439213;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:30px;padding:0 20px 0 35px;color:#fff;text-align:center;overflow:visible;font-size:13px;background: #d84800 url(../images/btn/04.png) no-repeat -30px center;cursor:pointer;white-space:nowrap;text-transform:uppercase;font-weight:bold;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
a.normal-button{display:inline-block;text-decoration:none;line-height:28px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color: #439213;background-position: -20px center;}
.search-results .highlight,.results .highlight{background:#ffe38d;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;background: url(../images/bg/05.png) no-repeat top;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:16px;color:#fff;background:#439213;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.pagehub span.pagenav{background:#c94300;}
.pagehub a:hover{background:#c94300;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background: url(../images/bg/05.png) no-repeat top;margin:0;height:35px;overflow:hidden;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{border:1px dashed #439213;padding: 3px;}
a.xeditorpopup:hover img{border:1px solid #c94300;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 20px;display:inline;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message ul li:before, #system-message .message ul li .before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:#e6ece2;border:1px solid #439213;color:#133b47;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#system-message .notice{background-color:#ffeaca;border-color:#ff8800;color:#ff8800;}
#system-message .warning,#system-message .error{background-color:#ffd8c8;border-color:#ff814a;color:#cf3e00;}
/* page-header */
#page-header{position: relative;z-index: 1;height: 158px;min-width: 960px;margin:0 0 -3px;background: url(../images/bg/01.png) repeat-x;}
#page-header .inner{*zoom:1;position: relative;width: 920px;padding: 0 20px;margin: 0 auto;text-align: left;}
#page-header .inner:before,#page-header .inner:after{display:table;content:"";}
#page-header .inner:after{clear:both;}
#page-header .logo{padding: 38px 0 0;}
#page-header .logo a{display: block;width:585px;height: 98px;text-indent: -9999px;background: url(../images/logo/01.png) no-repeat;}
#page-header .phone{position: absolute;top:73px;right: 20px;padding: 0 0 0 56px;font-size: 48px;font-weight: 900;color: #ffe3a6;text-shadow: 0 0 6px rgba(0,0,0,0.5);font-family: 'Titillium Web', Impact, 'Techno CE', sans-serif;}
#page-header .phone:before{position: absolute;left:0;top:13px;font-size: 38px;line-height: 1;content: '\e810';font-family: 'hypotekajezlo';}
 /* col-top */
#col-top{position: relative;min-width: 960px;background: #ffe38d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjFiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmUzOGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #fff1bf 0%, #ffe38d 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff1bf), color-stop(100%,#ffe38d));background-image: -webkit-linear-gradient(top,  #fff1bf 0%,#ffe38d 100%);background-image: -o-linear-gradient(top,  #fff1bf 0%,#ffe38d 100%);background-image: -ms-linear-gradient(top,  #fff1bf 0%,#ffe38d 100%);background-image: linear-gradient(to bottom,  #fff1bf 0%,#ffe38d 100%);-webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,0.1);-moz-box-shadow: inset 0 -2px 6px rgba(0,0,0,0.1);box-shadow: inset 0 -2px 6px rgba(0,0,0,0.1);}
#col-top .inner{*zoom:1;width: 920px;padding: 47px 20px 0;margin: 0 auto;text-align: left;}
#col-top .inner:before,#col-top .inner:after{display:table;content:"";}
#col-top .inner:after{clear:both;}
/* container */
#container{background: #fff;min-width: 960px;}
#container .inner{*zoom:1;width: 920px;padding: 64px 20px 10px;text-align: left;margin: 0 auto;}
#container .inner:before,#container .inner:after{display:table;content:"";}
#container .inner:after{clear:both;}
#col-left{width: 220px;float: left;}
#col-main{width: 630px;float: right;}
/* mods */
.mod_menu-top{position: absolute;top:0;right:20px;height: 55px;*float: right;*width: 400px;background: url(../images/bg/02.png) repeat-x bottom;}
.mod_menu-top ul{*zoom:1;position: relative;margin: 0;padding: 0 20px;}
.mod_menu-top ul:before,.mod_menu-top ul:after{position: absolute;content: '';top:5px;right:100%;bottom:0;width:2px;height: 43px;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 84%, rgba(0,0,0,0) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(84%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)));background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 84%,rgba(0,0,0,0) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 84%,rgba(0,0,0,0) 100%);background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 84%,rgba(0,0,0,0) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 84%,rgba(0,0,0,0) 100%);}
.mod_menu-top ul:after{left:100%;right: auto;}
.mod_menu-top ul li{display: inline-block;*display: inline;margin: 0;padding: 18px 13px 0 13px;font-size: 14px;line-height: 1;white-space: nowrap;font-weight: bold;}
.mod_menu-top ul li:before, .mod_menu-top ul li .before{position: static;float: right;font-size: 12px;line-height: 1;margin: 0 0 0 5px;font-family: sans-serif;content:'\00BB';}
.mod_menu-top ul li a{color: #333;text-decoration: none;}
.mod_menu-top ul li a:hover,.mod_menu-top ul li.act a{color: #c94300;}
.mod_custom-slideshow{position: relative;margin: 0 0 20px;float: left;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-slideshow:before{position: absolute;z-index: 999;content: '';left:-88px;top:0;width: 99px;height: 276px;background: url(../images/bg/03.png);}
.mod_custom-slideshow section{position: relative;width: 680px;height: 300px;overflow: hidden;-webkit-border-radius: 21px;-moz-border-radius: 21px;border-radius: 21px;}
.mod_custom-slideshow article{position: relative;}
.mod_custom-slideshow article:before{position: absolute;content:'';left:0;top:0;width:660px;height: 280px;border: 10px solid rgba(255,255,255,0.5);-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-slideshow .content{position: absolute;left:-10px;padding: 24px 10px 15px;top:80px;text-align: center;background: #fff;filter:alpha(opacity=70);background: rgba(255,255,255,0.9);-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);box-shadow: 0 0 6px rgba(0,0,0,0.3);-webkit-transition: top 0.4s;-moz-transition: top 0.4s;-o-transition: top 0.4s;transition: top 0.4s;}
.js .mod_custom-slideshow .content{top: -300px;}
.js .mod_custom-slideshow .cycle-slide-active .content{top:80px;}
.mod_custom-slideshow .content h2{font-size: 34px;line-height: 1.2;font-weight: normal;padding: 0 50px;}
.mod_custom-slideshow .content h2 strong{font-weight: 600;}
.mod_custom-slideshow .content nav a{z-index: 1;position: absolute;bottom:-36px;left:50%;width: 206px;height: 46px;margin-left: -96px;font-weight: bold;font-size: 14px;line-height: 40px;text-decoration: none;color: #333;background: url(../images/btn/01.png) no-repeat;}
.mod_custom-slideshow .content nav a:hover{color: #c94300;}
.mod_custom-slideshow .cycle-prev,.mod_custom-slideshow .cycle-next{position: absolute;z-index: 999;left:0;top: 130px;width: 31px;height: 41px;background: url(../images/btn/02.png) no-repeat 20px 0;-webkit-opacity: 0.5;-moz-opacity: 0.5;opacity: 0.5;filter:alpha(opacity=50);}
.mod_custom-slideshow .cycle-next{right: 0;left:auto;background-position: -11px 0;}
.mod_custom-slideshow .cycle-prev:hover,.mod_custom-slideshow .cycle-next:hover{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;}
.mod_custom-akcni-nabidka{position: relative;width: 160px;min-height: 0;padding: 30px 20px 22px 20px;min-height: 248px;margin: 0 0 20px;float: right;font-size: 15px;line-height: 1.4;font-family: 'Courgette',serif;background: #f1cf5c;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZTQ5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWNmNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #f8e492 0%, #f1cf5c 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8e492), color-stop(100%,#f1cf5c));background-image: -webkit-linear-gradient(top,  #f8e492 0%,#f1cf5c 100%);background-image: -o-linear-gradient(top,  #f8e492 0%,#f1cf5c 100%);background-image: -ms-linear-gradient(top,  #f8e492 0%,#f1cf5c 100%);background-image: linear-gradient(to bottom,  #f8e492 0%,#f1cf5c 100%);}
.mod_custom-akcni-nabidka:before,.mod_custom-akcni-nabidka .before{position: absolute;content: '';top:-40px;left: 80px;width: 43px;height: 54px;background: url(../images/ico/01.png) no-repeat;}
.mod_custom-akcni-nabidka:after,.mod_custom-akcni-nabidka .after{position: absolute;content: '';top:100%;margin-top: -1px;left: -2px;width: 204px;height: 11px;background: url(../images/bg/04.png) no-repeat;}
.mod_custom-akcni-nabidka .mod-title{font-size: 25px;line-height: 1.2;margin: 0 0 7px;}
.mod_custom-akcni-nabidka mark{color: #c10000;}
.mod_custom-akcni-nabidka span{font-size: 21px;}
.mod_custom-akcni-nabidka p{margin: 0 0 13px;}
.mod_custom-akcni-nabidka nav a{position: absolute;right:10px;bottom:10px;width: 30px;height: 34px;padding: 0 4px 0 0;line-height: 30px;text-align: center;color: #fff;text-shadow: 0 0 3px rgba(0,0,0,0.5);text-decoration: none;font-size: 24px;background: url(../images/btn/03.png) no-repeat;}
.mod_custom-akcni-nabidka nav a:hover{text-shadow: 0 0 6px #fff;}
.mod_menu-main{clear: both;}
.mod_menu-main ul{*zoom:1;margin: 0 0 0 -18px;padding: 5px 0 0;overflow: hidden;}
.mod_menu-main ul:before,.mod_menu-main ul:after{display:table;content:"";}
.mod_menu-main ul:after{clear:both;}
.mod_menu-main ul li{float: left;margin: 0 0 0 18px;padding: 0;}
.mod_menu-main ul li:before, .mod_menu-main ul li .before{display: none;}
.mod_menu-main ul li a{position: relative;display: block;float: left;padding: 17px 29px 18px 94px;font-size: 23px;line-height: 1;text-decoration: none;color: #333;border: 1px solid #ecd38b;border-bottom: 0;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;-webkit-box-shadow: inset 0 -3px 4px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.2);-moz-box-shadow: inset 0 -3px 4px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.2);box-shadow: inset 0 -3px 4px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.2);background: #ffedad;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #ffffff 0%, #ffe999 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffe999));background-image: -webkit-linear-gradient(top,  #ffffff 0%,#ffe999 100%);background-image: -o-linear-gradient(top,  #ffffff 0%,#ffe999 100%);background-image: -ms-linear-gradient(top,  #ffffff 0%,#ffe999 100%);background-image: linear-gradient(to bottom,  #ffffff 0%,#ffe999 100%);}
.mod_menu-main ul li.act a{color: #c94300;background: #fff;-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.mod_menu-main ul li a:hover{top:1px;color: #c94300;}
.mod_menu-main ul li a span{position: absolute;left:10px;top:8px;width:68px;height: 68px;overflow: hidden;}
.mod_menu-main ul li.act a span img,.mod_menu-main ul li a:hover span img{position: absolute;top: -68px;}
.mod_custom-intro{width:430px;float: left;margin: 0 0 40px;}
.mod_custom-intro .mod-title{font-size: 28px;line-height: 1;color: #c94300;}
.mod_custom-intro ul{margin-left: 0;}
.mod_custom-intro ul li{padding-left: 26px;margin-bottom: 8px;}
.mod_custom-intro ul li:before, .mod_custom-intro ul li .before{content: '\e801';color: #439213;font-size: 22px;top:-5px;}
.mod_custom-kontakt{*zoom:1;position: relative;float: right;width:350px;margin: 0 20px 40px 0;padding: 24px 34px 12px;border: 1px dashed #c9c7c1;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-kontakt:before,.mod_custom-kontakt:after{display:table;content:"";}
.mod_custom-kontakt:after{clear:both;}
#col-left .mod_custom-kontakt{width: auto;margin-right: 0;padding: 20px;}
.mod_custom-kontakt .mod-title{font-size: 28px;line-height: 1;}
.mod_custom-kontakt figure{float: left;width:120px;}
#col-left .mod_custom-kontakt figure{float: none;width: auto;}
.mod_custom-kontakt address{float: right;width:210px;font-size: 16px;line-height: 1;}
#col-left .mod_custom-kontakt address{float: none;width:auto;}
.mod_custom-kontakt address p{margin: 0 0 10px;}
.mod_custom-kontakt address mark{font-size: 20px;}
.mod_custom-kontakt address small{font-size: 14px;}
.mod_custom-kontakt .phone{position: relative;margin: 0 0 3px;font-size: 22px;color: #439213;padding: 0 0 0 26px;}
#col-left .mod_custom-kontakt .phone{font-size: 20px}
.mod_custom-kontakt .phone:before,.mod_custom-kontakt .phone .before{position: absolute;left:0;top:1px;content: '\e80b';font-family: 'hypotekajezlo';}
.mod_custom-kontakt .email{position: relative;margin: 0 0 3px;font-size: 16px;padding: 0 0 0 26px;}
#col-left .mod_custom-kontakt .email{font-size: 14px;}
.mod_custom-kontakt .email:before,.mod_custom-kontakt .email .before{position: absolute;left:0;top:0;content: '\e80c';color: #439213;font-size: 18px;font-family: 'hypotekajezlo';}
.mod_custom-kontakt .email a{color: #333;}
.mod_custom-kontakt .content{clear: both;color: #c94300;padding: 17px 0 0;font-size: 14px;line-height: 1.2;width: 250px;}
#col-left .mod_custom-kontakt .content{width: auto;}
.mod_custom-kontakt blockquote{position: absolute;width: 130px;padding: 20px 10px 20px 10px;bottom: -15px;right: -20px;color: #439213;font-size: 15px;line-height: 1.2;background: #ffebae;font-weight: bold;text-align: center;-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}
#col-left .mod_custom-kontakt blockquote{position: relative;bottom: 0;right:0;top: 10px;width: auto;margin: 0 -20px -10px;-webkit-border-radius: 0 0 18px 18px;-moz-border-radius: 0 0 18px 18px;border-radius: 0 0 18px 18px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.mod_custom-kontakt blockquote mark{font-size: 23px;color: #439213;text-transform: uppercase;}
.mod_custom-kontakt blockquote:before,.mod_custom-kontakt blockquote .before{position: absolute;content: '';top:-26px;right: 10px;border: 26px solid transparent;border-left-width: 20px;border-left-color: #ffebae;}
.mod_custom-dotaznik{clear: both;position: relative;z-index: 999;margin: 0 0 50px;}
.mod_custom-dotaznik header{*zoom:1;position: relative;z-index: 1;font-size:  28px;line-height: 1;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.2);background: #bf3f00;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.mod_custom-dotaznik header:before,.mod_custom-dotaznik header:after{display:table;content:"";}
.mod_custom-dotaznik header:after{clear:both;}
.mod_custom-dotaznik header .mod-title{position: relative;float: left;margin: 0;padding: 42px 0 42px 90px;background: #df4b00;-webkit-border-radius: 18px 0 0 18px;-moz-border-radius: 18px 0 0 18px;border-radius: 18px 0 0 18px;}
.mod_custom-dotaznik header .mod-title:before, .mod_custom-dotaznik header .mod-title .before{position: absolute;content: '\e80f';top:36px;left: 37px;font-size: 38px;color: #fff4d1;font-family: "hypotekajezlo";}
.mod_custom-dotaznik header .mod-title:after, .mod_custom-dotaznik header .mod-title .after{position: absolute;content: '';top:0;left: 100%;border: 56px solid transparent;border-left-width: 30px;border-left-color: #df4b00;}
.mod_custom-dotaznik nav{float: right;font-size: 22px;line-height: 1.2;font-weight: 600;}
.mod_custom-dotaznik nav a{padding: 25px 40px 30px 0;width: 185px;float: right;display: block;color: #ffd026;}
.mod_custom-dotaznik nav a:hover{color: #fff;}
.mod_custom-dotaznik nav a:after{position: relative;top:5px;float: right;content: '\e803';color: #fff;font-size: 18px;font-family: 'hypotekajezlo';}
.mod_custom-dotaznik .form{*zoom:1;display: none;position: absolute;top:100%;left:0;width: 840px;margin-top: -20px;padding: 75px 40px 0 40px;background: #fff1bd;-webkit-border-radius: 0 0 18px 18px;-moz-border-radius: 0 0 18px 18px;border-radius: 0 0 18px 18px;}
.mod_custom-dotaznik.open .form{display: block;}
.mod_custom-dotaznik .form:before,.mod_custom-dotaznik .form:after{display:table;content:"";}
.mod_custom-dotaznik .form:after{clear:both;}
.mod_custom-dotaznik .form .mod-left{width: 400px;float: left;margin: 0 0 20px;}
.mod_custom-dotaznik .form .mod-right{width: 400px;float: right;margin: 0 0 20px;}
.mod_custom-dotaznik .form .required{color: #c10000;}
.mod_custom-dotaznik .form .row{*zoom:1;margin: 0 0 8px;}
.mod_custom-dotaznik .form form.normal input,.mod_custom-dotaznik .form form.normal select{border-color: #fff;}
.mod_custom-dotaznik .form form.normal input:hover,.mod_custom-dotaznik .form form.normal select:hover,
.mod_custom-dotaznik .form form.normal input:focus,.mod_custom-dotaznik .form form.normal select:focus{border-color: #ffd026;}
.mod_custom-dotaznik .form .row:before,.mod_custom-dotaznik .form .row:after{display:table;content:"";}
.mod_custom-dotaznik .form .row:after{clear:both;}
.mod_custom-dotaznik .form .row label{float: left;width: 200px;padding: 0 20px 0 0;font-weight: normal;font-size: 13px;}
.mod_custom-dotaznik .form .row label .required{font-weight: bold;}
.mod_custom-dotaznik .form .row .control{float: left;width: 180px;}
.mod_custom-dotaznik .form .row .control .input{display: inline-block;position: relative;}
.mod_custom-dotaznik .form .row .control .input i{position: absolute;top:-7px;right: -7px;font-size: 18px;color: #e64d00;}
.mod_custom-dotaznik .form .row .control input{width: 158px;}
.mod_custom-dotaznik .form .row .control select{width: 180px;}
.mod_custom-dotaznik .form .row .control input.input-small{width: 55px;margin-left: 0;margin-right: 0;}
.mod_custom-dotaznik .form .row .control .separator{display: inline-block;width: 20px;text-align: center;}
.mod_custom-dotaznik .form input[type=submit]{margin: 0;padding: 0 70px 0 30px;border: 0;font-size: 21px;color: #fff;background: #d84800 url(../images/btn/04.png) no-repeat 195% center;height: 60px;overflow: visible;cursor: pointer;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-dotaznik .form input[type=submit]:hover{background-color: #439213;background-position: 205% center;}
.mod_custom-dotaznik .form .close{position: absolute;bottom:0;left:0;width: 40px;height: 40px;line-height: 40px;text-align: center;color: #e64d00;background: #ffde9c;-webkit-border-radius: 0 18px 0 18px;-moz-border-radius: 0 18px 0 18px;border-radius: 0 18px 0 18px;}
.mod_custom-dotaznik .form .close:hover{color: #fff;background: #e64d00;}
.mod_custom-banners{padding: 56px 0 0;background: url(../images/bg/05.png) no-repeat top;}
.mod_custom-banners section{*zoom:1;margin: 0 0 50px -24px;*width: 944px;}
.mod_custom-banners section:before,.mod_custom-banners section:after{display:table;content:"";}
.mod_custom-banners section:after{clear:both;}
.mod_custom-banners article{float: left;width: 290px;margin: 0 0 0 24px;}
.mod_custom-banners figure{position: relative;margin: 0 0 35px;}
.mod_custom-banners figure:after, .mod_custom-banners figure .after{position: absolute;content: '';top:0;left:0;width: 100%;height: 100%;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.mod_custom-banners figure img{position: relative;display: block;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.mod_custom-banners .mod-title{font-size: 24px;line-height: 1.2;color: #333;font-weight: 600;margin: 0 0 25px;}
.mod_custom-banners ul{margin-left: 0;}
.mod_custom-banners ul li{padding-left: 15px;margin-bottom: 11px;font-size: 14px;}
.mod_custom-banners ul li:before,.mod_custom-banners ul li .before{content: '\e808';color: #439213;top:-4px;font-size: 20px;}
.mod_custom-banners ul li a{color: #333;}
.mod_custom-banners blockquote{margin: 0 0 20px;color: #c94300;font-size: 14px;line-height: 1.4;}
.mod_custom-banners blockquote cite{font-style: normal;color: #333;display: block;}
.mod_custom-banners nav a{display: inline-block;position: relative;font-weight: bold;padding-left: 18px;font-size: 14px;}
.mod_custom-banners nav a:before, .mod_custom-banners nav a .before{position: absolute;left:0;top:-2px;content: '\e805';font-family: 'hypotekajezlo';font-size: 16px;}
.mod_custom-banners .posts{*zoom:1;position: relative;margin: 0 0 20px;padding: 25px 30px 28px;border: 1px dashed #c9c7c1;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;font-size: 14px;line-height: 1.3;}
.mod_custom-banners .posts time{font-style: italic;}
.mod_custom-banners .posts p{margin: 0 0 15px;}
.mod_custom-banners .social-media{position: absolute;bottom: -15px;right:-13px;margin: 0;padding: 0;}
.mod_custom-banners .social-media li{margin: 0 0 0 5px;padding: 0;float: left;}
.mod_custom-banners .social-media li:before,.mod_custom-banners .social-media li .before{display: none;}
.mod_custom-banners .social-media li a{position: relative;display: block;float: left;background: #c94300;color: #fff;font-size: 26px;width: 40px;height: 40px;text-align: center;line-height: 40px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.mod_custom-banners .social-media li a:before,.mod_custom-banners .social-media li a .before{position: absolute;content: '';top:-10px;left:10px;border: 10px solid transparent;border-left-width: 8px;border-left-color: #c94300;}
.mod_custom-banners .social-media .facebook a{background: #4967a9;}
.mod_custom-banners .social-media .facebook a:before,.mod_custom-banners .social-media .facebook a .before{border-left-color: #4967a9;}
.mod_custom-banners .social-media .twitter a{background: #00bfd4;}
.mod_custom-banners .social-media .twitter a:before,.mod_custom-banners .social-media .twitter a .before{border-left-color: #00bfd4;}
.mod_custom-banners .social-media li a:hover{color: rgba(255,255,255,0.7);}
.mod_menu-submenu{position: relative;padding: 20px;margin: 0 0 30px;background: #df4b00;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;-webkit-box-shadow: inset -30px 0 100px rgba(0,0,0,0.1);-moz-box-shadow: inset -30px 0 100px rgba(0,0,0,0.1);box-shadow: inset -30px 0 100px rgba(0,0,0,0.1);}
.mod_menu-submenu ul{margin: 0;padding: 0;}
.mod_menu-submenu ul li{color: #fff0b8;padding-left: 25px;margin-bottom: 15px;line-height: 1;}
.mod_menu-submenu ul>li.act>a{font-weight: bold;}
.mod_menu-submenu ul li:before, .mod_menu-submenu ul li .before{font-weight: normal;font-size: 20px;top:-3px;}
.mod_menu-submenu ul li a{text-decoration: none;color: #fff;}
.mod_menu-submenu ul li a:hover{text-decoration: underline;}
.mod_menu-submenu ul>li.act>a{font-weight: bold;color: #ffd026;}
.mod_menu-submenu ul ul{padding-top: 15px;}
.mod_menu-submenu ul ul li{margin-bottom: 5px;padding-left: 15px;}
.mod_menu-submenu ul ul li:before, .mod_menu-submenu ul ul li .before{font-size: 12px;top:2px;}
/* page-footer */
#page-footer{min-width: 960px;background: url(../images/bg/06.png) repeat-x top;}
#page-footer .inner{*zoom:1;padding: 36px 20px;width: 920px;margin: 0 auto;text-align: left;}
#page-footer .inner:before,#page-footer .inner:after{display:table;content:"";}
#page-footer .inner:after{clear:both;}
.mod_menu-footer{width: 460px;float: left;}
.mod_menu-footer ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-footer ul:before,.mod_menu-footer ul:after{display:table;content:"";}
.mod_menu-footer ul:after{clear:both;}
.mod_menu-footer ul li{margin: 0 30px 0 0;padding: 0;float: left;font-weight: 600;font-size: 14px;line-height: 1.2;}
.mod_menu-footer ul li:before,.mod_menu-footer ul li .before {display: none;}
.mod_menu-footer ul li a{color: #ffd026;}
.mod_menu-footer ul li.act a,.mod_menu-footer ul li a:hover{color: #fff;}
#page-footer .copy{width: 460px;float: right;text-align: right;}
#page-footer .copyright{float: right;font-size: 13px;color: #ffe3a6;padding: 20px 40px 0 0;margin: -22px 0 0 0;background: url(../images/ico/05.png) no-repeat right;}
#page-footer .xart{float: right;margin: 0 0 0 10px;text-transform: uppercase;font-size: 11px;}
#page-footer .xart a{color: #ffe3a6;text-decoration: none;}
#page-footer .xart a:hover{color: #fff;}
#page-footer .xart img{float: right;margin: -1px -3px 0 7px;}
