
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-medkit:before { content: '\e810'; } /* '' */
.icon-angle-left:before { content: '\e807'; } /* '' */
.icon-angle-right:before { content: '\e808'; } /* '' */
.icon-angle-up:before { content: '\e809'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */
.icon-desktop:before { content: '\e80c'; } /* '' */
.icon-twitter-squared:before { content: '\e812'; } /* '' */
.icon-facebook-squared:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */