@font-face {
  font-family: 'hypotekajezlo';
  src: url('../font/hypotekajezlo.eot?100544');
  src: url('../font/hypotekajezlo.eot?100544#iefix') format('embedded-opentype'),
       url('../font/hypotekajezlo.woff?100544') format('woff'),
       url('../font/hypotekajezlo.ttf?100544') format('truetype'),
       url('../font/hypotekajezlo.svg?100544#hypotekajezlo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hypotekajezlo';
    src: url('../font/hypotekajezlo.svg?100544#hypotekajezlo') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hypotekajezlo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-medkit:before { content: '\e810'; } /* '' */
.icon-angle-left:before { content: '\e807'; } /* '' */
.icon-angle-right:before { content: '\e808'; } /* '' */
.icon-angle-up:before { content: '\e809'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */
.icon-desktop:before { content: '\e80c'; } /* '' */
.icon-twitter-squared:before { content: '\e812'; } /* '' */
.icon-facebook-squared:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */